//* Setup the `main.handlebars` file so it's able to be used by Handlebars.

//  * Setup the `main.handlebars` file so it's able to be used by Handlebars.

<!DOCTYPE html>
<html lang="en">

	<head>
		<title>DaBurger App</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		

	</head>

	<body>
		{{{ body }}}
	</body>

	<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>
