<div class="col-xs-6" id="served">
    <h2>Served</h2>
    {{#each served}}
    <form action="/{{this.id}}?_method=PUT" method="POST" class="servedBurger">
      <label class="servedName">{{this.burger}}</label>
      <button type="submit" class="btn btn-default btn-xs servedBtn">Devour</button>
    </form>
    {{/each}}
</div>
<div class="col-xs-6" id="devoured">
    <h2>Devoured</h2>
    {{#each devoured}}
    <div class="devouredBurger">
      <p class="devouredName">{{this.burger}}</p>
    </div>
    {{/each}}
</div>